@model IEnumerable<pbxdata.model.tableFiledPerssion>

@{
    ViewBag.Title = "分配字段权限";
}

@*<div id="navigateTop" style="color:#FF5F3E;font-weight:bolder;line-height:20px;">@ViewData["roleId"]->@ViewData["menuId"]->@ViewData["funId"]->分配字段权限</div>*@
<div id="navigateTop" style="color:#FF5F3E;font-weight:bolder;line-height:20px;"><span id="navigateTopRoleName"></span><span id="navigateTopMenuName"></span><span id="navigateTopFunName"></span></div>


<link href="~/Css/divShow.css" rel="stylesheet" />
<link href="~/Css/All.css" rel="stylesheet" />
<script src="~/js/jquery-1.8.2.min.js"></script>
<script src="~/js/divShow.js"></script>
<script>
    $().ready(function () {
        //获取角色名称
        $.post('/PublicHelp/getRoleName', { roleId: "@ViewData["roleId"]" }, function (data) { $("#navigateTopRoleName").html(data+"->"); });
        //获取目录名称
        $.post('/PublicHelp/getMenuName', { menuId: "@ViewData["menuId"]" }, function (data) { $("#navigateTopMenuName").html(data + "->"); });
        //获取功能名称
        $.post('/PublicHelp/getFunName', { funId: "@ViewData["funId"]" }, function (data) { $("#navigateTopFunName").html(data + "->分配字段权限"); });

        var count = 0;
        //全选
        $("#ckbTableAll").click(function () {
            var c = $("input[name=ckbTable]");
            c.each(function (i, n) {
                if (count % 2 == 0) {
                    $(this).attr("checked", "checked");
                } else {
                    $(this).removeAttr("checked");
                }
            })
            count++;
        })

        //分配权限
        $("#aAllot").click(function () {
            var s = "";
            var c = $("input[name=ckbTable]");
            c.each(function (i, n) {
                if ($(this).attr("checked")) {
                    s += $(this).attr("title") + ",";
                }
            })
            console.log(s);
            //s = s.substring(s.length - 1, 1);

            //把勾选的字段改为1（tableNameState(默认显示为1，不显示为0)）
            $.post('/Role/allotFiled', { filedId: s, funId: "@ViewData["funId"]", menuId: "@ViewData["menuId"]", roleId: "@ViewData["roleId"]" }, function (data) { alert(data) })
        })


        //撤销权限
        $("#aCancel").click(function () {
            var s = "";
            var c = $("input[name=ckbTable]");
            c.each(function (i, n) {
                if ($(this).attr("checked")) {
                    s += $(this).attr("title") + ",";
                }
            })
            //s = s.substring(s.length - 1, 1);

            //把勾选的字段改为0（tableNameState(默认显示为1，不显示为0)）
            $.post('/Role/cancelFiled', { filedId: s, funId: "@ViewData["funId"]", menuId: "@ViewData["menuId"]", roleId: "@ViewData["roleId"]" }, function (data) { alert(data) })
        })


        //ViewData["funId"]
        //遍历所有的check，分辨哪些存在权限，给予勾选
        var filedId = "@ViewData["filedIds"]";
        var filedIds = filedId.split(",");
        var c = $("input[name=ckbTable]");
        c.each(function (i, n) {
            for (var i = 0; i < filedIds.length; i++) {
                if ($(this).attr("title") == filedIds[i]) {
                    $(this).attr("checked", "checked");
                }
            }
        })


    })

</script>

<table class="mytable" rules="all">
    <tr>
        <th colspan="9" class="mytableadd">
            @*@Html.ActionLink("添加", "adddata")*@
            <div style="padding-top: 20px;">
                @if (ViewData["fieldFPQX"].ToString() == "1")
                {
                <a href="#" id="aAllot" >分配权限</a>
                <a href="#" id="aCancel" >取消权限</a>@*
                @Html.ActionLink("返回", "allotTablePermisson")onclick="javascript:window.history.go(-1)" *@
                   <a href="#" onclick="AddFiled()">添加</a>
                <a href="/role/allotTablePermisson/@ViewData["funId"]?roleid=@ViewData["roleId"]&menuId=@ViewData["menuId"]" style="cursor:pointer;color:blue;" >返回</a>
                    
                }
            </div>
        </th>
    </tr>
    <tr>
        <th><input type="checkbox" id="ckbTableAll"  style="width:10px;"/></th>
        <th>
            表格名称
        </th>
        <th>描述</th>
        <th>删除</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td><input type="checkbox" name="ckbTable" title="@Html.DisplayFor(modelItem => item.Id)"  style="width:10px;"/></td>
        <td>
            <span class="spanDescript">@Html.DisplayFor(modelItem => item.tableName)</span><a href="#" class="aUpdateTabName" style="margin-left:20px">修改</a>
        </td>
        <td>
            <span class="spanDescript">@Html.DisplayFor(modelItem => item.Def1)</span><a href="#" class="aUpdate" style="margin-left:20px">修改</a>
        </td>
        <td><a href="#" class="aDelete" onclick="DeletetableFiled(@Html.DisplayFor(modelItem => item.Id))">删除</a></td>
    </tr>
}

</table>
<script type="text/javascript">

    UpdateTabName();
    ChangeDescript();
    //--修改描述
    function ChangeDescript() {
        $(".aUpdate").each(function () {
            $(this).click(function () {
                if ($(this).html() == "修改") {
                    $(this).parent().find(".spanDescript").html("<input type='text' class='txtDescript' value=\"" + $(this).parent().find(".spanDescript").html() + "\" />");
                    $(this).html("保存");
                }
                else {
                    var Descript = $(this).parent().find(".txtDescript").val().trim();
                    var Id = $(this).parent().parent().find("input[type=checkbox]").attr("title");
                    $.ajax({
                        type: "GET",
                        url: "/role/AddDescript?Id="+Id+"&Descript="+Descript,
                        success: function (data) {
                            if (data != "") {
                                alert(data)
                            }
                            else {
                                location.href = "/role/allotFiledPermisson/@ViewData["Id"]?roleid=@ViewData["roleId"]&menuId=@ViewData["menuid"]&funid=@ViewData["funid"]"; 
                            }
                        },
                        error: function () {
                            alert("保存描述 error!")
                        },


                    })
                }
                
            })
        })
    }
    //更新描述
    function UpdateTabName() {
        $(".aUpdateTabName").each(function () {
            $(this).click(function () {
                if ($(this).html() == "修改") {
                    $(this).parent().find(".spanDescript").html("<input type='text' class='txtDescript' value=" + $(this).parent().find(".spanDescript").html() + " />");
                    $(this).html("保存");
                }
                else {
                    var Descript = $(this).parent().find(".txtDescript").val().trim();
                    var Id = $(this).parent().parent().find("input[type=checkbox]").attr("title");
                    $.ajax({
                        type: "GET",
                        url: "/role/UpdateTabName?Id=" + Id + "&Descript=" + Descript,
                        success: function (data) {
                            if (data != "") {
                                alert(data)
                            }
                            else {
                                location.href = "/role/allotFiledPermisson/@ViewData["Id"]?roleid=@ViewData["roleId"]&menuId=@ViewData["menuid"]&funid=@ViewData["funid"]";
                            }
                        },
                        error: function () {
                            alert("保存描述 error!")
                        },


                    })
                }

            })
         })
    }
    //--添加列
    function AddFiled() {
        if ($("#txtTabName").length > 0) {
            return false;
        }
        else {
            $(".mytable").find("tr:eq(1)").after("<tr><td><input id='txtFliedName' type='text' value='' /></td><td><a href='#' onclick='SaveFlied()'>保存</a></td></tr>")
        }
    }
    //--添加列
    function SaveFlied() {
        var tableName = $("#txtFliedName").val().trim();
        $.ajax({
            type: "GET",
            url: "/Role/AddFiled?tableName=" + tableName + "&tableLevel=@ViewData["Id"]",
            success: function (data) {
                if (data != "") {
                    alert(data)
                }
                else {
                    location.href = "/role/allotFiledPermisson/@ViewData["Id"]?roleid=@ViewData["roleId"]&menuId=@ViewData["menuid"]&funid=@ViewData["funid"]";
                }
            },
            error: function () {
            }

        })
    }
    //--删除列
    function DeletetableFiled(obj) {
        if (confirm("确定要删除吗?")) {
            $.ajax({
                type: "GET",
                url: "/Role/DeletetableFiled?Id=" + obj,
                success: function (data) {
                    if (data != "") {
                        alert(data)
                    }
                    else {
                        location.href = "/role/allotFiledPermisson/@ViewData["Id"]?roleid=@ViewData["roleId"]&menuId=@ViewData["menuid"]&funid=@ViewData["funid"]";
                 }
             },
                error: function () {
                }
            })
        }
        
    }
</script>