@model pbxdata.model.persona

@{
    ViewBag.Title = "编辑角色";
}

<div style="color:#FF5F3E;font-weight:bolder;line-height:20px;">编辑角色</div>

<link href="~/Css/All.css" rel="stylesheet" />
<script src="~/js/jquery-1.8.2.min.js"></script>
<script src="~/js/divShow.js"></script>
<script>
    $().ready(function () {
        //更新角色
        $("#btnSave").click(function () {
            var id = $("#Id").val();
            var PersonaName = $("#PersonaName").val();
            var PersonaIndex = $("#PersonaIndex").val();
            var userId = $("#userId").val();
            $.post('/Role/updateRole', { id: id, PersonaName: PersonaName, PersonaIndex: PersonaIndex, userId: userId, }, function (data) {
                alert(data);
            })
        })

    })

</script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>persona</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.PersonaName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PersonaName)
            @Html.ValidationMessageFor(model => model.PersonaName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PersonaIndex)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PersonaIndex)
            @Html.ValidationMessageFor(model => model.PersonaIndex)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserId)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

    </fieldset>
}
        <p>
            <input type="submit" value="保存" id="btnSave" />
        </p>
<div>
    @Html.ActionLink("返回", "getRole")
</div>

